Checks: >
  modernize-*,
  -modernize-use-trailing-return-type,
  readability-*,
  performance-*,
  -performance-avoid-endl,
  portability-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory,
  misc-*,
WarningsAsErrors: ""
HeaderFilterRegex: "^a"
FormatStyle: none
User: ""
CheckOptions: []
ExtraArgsBefore: []
